.alex-brush-regular {
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#hero h1 {
  color: #a21d00;
}

#hero p {
  font-weight: 400;
}

.hero-background {
  position: absolute;
  z-index: -1;
  top: 50px;
  opacity: 70%;
  left: 10px;
}

#favourite p {
  font-weight: 400;
}

.favourite-background {
  position: absolute;
  z-index: -1;
  top: 70rem;
  right: 60%;
  transform: rotateY(180deg);
  opacity: 70%;
}

.favourite-pic {
    border-radius: 5%;
    border-style:groove;
    border-color:#a21d00;
    border-width: 4px;
}


.item-pic {
    height: 300px;
    border-radius: 5%;
}

.first-row-pics {
  text-align: center;
  margin-bottom: 5px;
}

.second-row-pics {
  text-align: center;
  margin-bottom: 5px;
}

.third-row-pics {
  text-align: center;
}

.footer-text {
  text-align: center;
  width: 55%;
  font-size: 40px;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 24%;
}